/* 
       CSS RESET

  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END OF CSS RESET*/

/*GLOBAL STYLES*/

a {
  text-decoration: none;
  color: black;
}
html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 8rem;
  font-weight: 600;
  margin: 10px;
  padding: 10px;
}

h2 {
  font-size: 6rem;
  font-weight: 600;
  margin: 10px;
  padding: 10px;
}
h3 {
  color: darkslategrey;
  font-size: 4rem;
  font-weight: 400;
  margin: 10px;
  padding: 10px;
}

h4 {
  font-size: 2rem;
  font-weight: 600;
  margin: 10px;
  padding: 10px;
}

body {
  width: 100vw;
}

/*NAV BAR BEGINS*/

.menunav {
  position: fixed;
  width: 100vw;
}

#navbarContainer {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: white;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 7px 46px -26px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 46px -26px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 46px -26px rgba(0, 0, 0, 0.75);
}

#hamburgerIcon.closed {
  color: darkslategrey;
  font-size: 60px;
  margin-left: 40px;
  margin-right: 60px;
  transition: all 0.5s;
}

#hamburgerIcon.open {
  transform: rotate(90deg);
  color: darkslategrey;
  font-size: 60px;
  margin-left: 40px;
  margin-right: 60px;
  transition: all 1s;
}

#searchContainer {
  width: 85%;
  justify-self: flex-end;
}

#searchContainer > form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#searchInput {
  outline: none;
  padding-left: 30px;
  font-size: 22px;
  border: none;
  background-color: lightgray;
  border-radius: 20px 0 0 20px;
  height: 60px;
  width: 80%;
}

#searchInput::placeholder {
  color: darkslategrey;
  font-size: 22px;
}

#searchBarButton {
  border: none;
  outline: none;
  border-radius: 0 20px 20px 0;
  background-image: url(https://www.freeiconspng.com/thumbs/magnifying-glass-icon/magnifying-glass-icon-4.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px;
  height: 62px;
}

/*  BURGER MENU STYLES START*/
.menu.open {
  position: relative;
  -webkit-box-shadow: 0px 7px 46px -26px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 46px -26px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 46px -26px rgba(0, 0, 0, 0.75);
  color: white;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 10px;
  font-size: 50px;
  height: 700px;
  width: 60vw !important;
  margin-top: -20px;
  overflow: hidden;
  border-radius: 0 0 20px 0;
  background: darkslategray;
  transition: height 1.5s, width 1.5s;
}

.menuList.open {
  opacity: 1;
  transition: opacity 1.5s 1s;
}

.menuList.closed {
  opacity: 0;
}

.menulist {
  color: white;
  padding: 20px;
  width: fit-content;
  word-wrap: none;
}

.menu li:hover {
  background-color: white;
  color: darkslategray;
}

.lastInList {
  border-top: 1px solid white;
  width: 100%;
}

.menu.closed {
  height: 0px;
  width: 0px;
  transition: height 0.6s, width 0.6s;
}
/* BURGER MENU STYLES END*/

/*CATEGORY SELECTION BOX STARTS*/

.barContainer {
  position: static;
  height: 130px;
  width: 100%;
}

.categoryContainer {
  display: flex;
  margin: 0 auto;
  width: 90%;
  border: 1px solid lightgray;
  border-radius: 30px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 24px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 24px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 24px -15px rgba(0, 0, 0, 0.75);
  overflow: auto;
  white-space: nowrap;
}
.categorySelection a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoryIcon {
  font-size: 100px;
  color: darkslategray;
  margin: 10px 30px;
}

.categoryText {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 30px;
}

/*CATEGORY SELECTION BOX ENDS*/

/*HOME STYLES*/

.nothingFoundContainer {
  padding: 10px;
  text-align: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#nothingFoundIcon {
  font-size: 80px;
  color: darkslategray;
}

/*HOME STYLES END*/

/*PRODUCT CARD STYLES BEGIN*/

/*
.mainHomeContainer {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
*/
.contentCardContainer {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  width: 45%;
  height: fit-content;
  -webkit-box-shadow: 0px 0px 24px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 24px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 24px -15px rgba(0, 0, 0, 0.75);
  border: 1px solid lightgray;
  border-radius: 30px 30px;
}

.imageContainer img {
  width: 100%;
  max-height: 500px;
}

.imageContainer {
  object-fit: contain;
  width: 100%;
  max-height: 500px;
  margin-bottom: 10px;
}

.textContainer {
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.textContainerTop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productCardTitle {
  margin-left: 20px;
  margin-bottom: 20px;
  color: darkslategray;
  font-size: 40px;
  font-weight: 700;
}

.textContainerBottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.productCardCondition {
  font-size: 25px;
  margin-left: 20px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.productCardCategory {
  text-align: right;
  padding-left: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}
/*PRODUT CARDS STYLE ENDS*/

/*PRODUCT DETAILS PAGE BEGINS*/

.productPageCardsContainer {
  display: flex;
}

.productDetailsImage {
  width: 100%;
  object-fit: contain;
  height: 50%;
}

/*PRODUCT DETAILS PAGE ENDS*/
