/* 
       CSS RESET

  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END OF CSS RESET*/

/*GLOBAL STYLES*/

a {
  text-decoration: none;
  color: black;
}
html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  margin: 10px;
  padding: 10px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 5px;
  padding: 5px;
}
h3 {
  color: darkslategrey;
  font-size: 2rem;
  font-weight: 400;
  margin: 5px;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 5px;
  padding: 5px;
}

body {
  width: 98vw;
}

/*NAV BAR BEGINS*/

.spacer {
  height: 80px;
}

#navbarContainer {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 70px;
  background-color: white;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 7px 46px -26px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 46px -26px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 46px -26px rgba(0, 0, 0, 0.75);
}

#hamburgerIcon.closed {
  color: darkslategrey;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 30px;
  transition: all 1s;
}

#hamburgerIcon.open {
  transition: all 1s;
  transform: rotate(90deg);
  color: darkslategrey;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 30px;
}

#searchContainer {
  width: 75%;
  justify-self: flex-end;
  margin-right: 30px;
}

#searchContainer > form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#searchInput {
  outline: none;
  padding-left: 30px;
  font-size: 16px;
  border: none;
  background-color: lightgray;
  border-radius: 20px 0 0 20px;
  height: 25px;
  width: 75%;
}

#searchInput::placeholder {
  color: darkslategrey;
  font-size: 16px;
}

#searchBarButton {
  border: none;
  outline: none;
  border-radius: 0 20px 20px 0;
  background-image: url(https://www.freeiconspng.com/thumbs/magnifying-glass-icon/magnifying-glass-icon-4.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 27px;
}

/*NAV BAR ENDS*/

/*BURGER MENU STARTS*/

.menu.open {
  background-color: darkslategray;
  overflow: hidden;
  position: fixed;
  top: 70px;
  width: 300px;
  height: 600px;
  transition: width 1s, height 1s;
}

.menu.closed {
  background-color: darkslategray;
  overflow: hidden;
  position: fixed;
  top: 70px;
  width: 0px;
  height: 0px;
  transition: width 1s, height 1s;
}

.menuList {
  white-space: nowrap;
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.lastInList {
  border-top: 2px solid white;
  padding-top: 20px;
  margin-top: 230px;
}

.menu a {
  padding-left: 10px;
  padding: 10px;
  color: white;
  font-size: 30px;
}

/*BURGER MENU ENDS*/

/*CATEGORY SELECTION BOX STARTS*/

.categoryContainer {
  display: flex;
  margin: 0 auto;
  width: 90%;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 7px;
  -webkit-box-shadow: 0px 0px 24px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 24px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 24px -15px rgba(0, 0, 0, 0.75);
  overflow: auto;
  white-space: nowrap;
}
.categorySelection a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoryIcon {
  font-size: 30px;
  color: darkslategray;
  margin: 5px 15px;
}

.categoryText {
  font-size: 12px;
  font-weight: 700;
  margin: 0px 7px 5px 7px;
}

/*CATEGORY SELECTION BOX ENDS*/

/*HOME STYLES*/

.nothingFoundContainer {
  padding: 10px;
  text-align: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#nothingFoundIcon {
  font-size: 45px;
  color: darkslategray;
}

/*HOME STYLES END*/

/*PRODUCT CARD STYLES BEGIN*/

.columnContainer {
  display: flex;
  justify-content: center;
  width: 95vw;
  margin: 0 auto;
}

.mainHomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
}
.mainHomeContainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.contentCardContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  width: 95%;
  max-height: fit-content;
  -webkit-box-shadow: 0px 0px 24px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 24px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 24px -15px rgba(0, 0, 0, 0.75);
  border: 1px solid lightgray;
  border-radius: 10px 10px;
}

.imageContainer img {
  width: 100%;
  max-height: 300px;
}

.imageContainer {
  object-fit: cover;
  width: 100%;
  max-height: 300px;
}

.textContainer {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.textContainerTop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productCardTitle {
  margin-left: 5px;
  margin-bottom: 5px;
  color: darkslategray;
  font-size: 16px;
  font-weight: 700;
}

.textContainerBottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.productCardCondition {
  font-size: 10px;
  margin-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}

.productCardCategory {
  text-align: right;
  padding-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: 700;
}
/*PRODUT CARDS STYLE ENDS*/

/*PRODUCT DETAILS PAGE BEGINS*/

.productPageCardsContainer {
  display: flex;
}

.productDetailsImage {
  width: 100%;
  object-fit: contain;
  height: 50%;
}

/*PRODUCT DETAILS PAGE ENDS*/

/*FORM STYLES*/

.forminput {
  width: 70%;
  height: 30px;
  outline: none;
  border: none;
  border-bottom: 2px solid darkslategray;
  padding-left: 10px;
  margin: 20px;
}

.forminput::placeholder {
  font-size: 20px;
  color: darkslategray;
}

#addproductphoto {
  text-align: center;
  padding-left: 50%;
  margin-bottom: 10px;
}
label {
  margin: 10px 5px 0px 5px;
  color: darkslategray;
}

select {
  width: 60%;
  margin: 10px;
}

.formButton {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 25px;
  border: 2px solid darkslategray;
  background-color: white;
  color: darkslategray;
  border-radius: 28px;
  font-size: 15px;
}

::-webkit-file-upload-button {
  display: none;
}

/* FORM STYLES END*/

/*SIGN UP FORM*/

.addFile {
  display: none;
}

.signUpMainDiv {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signUpMainForm {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addProfilePicture {
  font-size: 30px;
}

#createAccBtn {
  margin-top: 70px;
  -webkit-box-shadow: 0px 0px 24px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 24px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 24px -15px rgba(0, 0, 0, 0.75);
}
/*SIGN UP FORM ENDS*/

/*ADD A PRODUCT FORM*/
.mainProductFormPage {
  display: flex;
  flex-direction: column;
}
.mainProductForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*ADD A PRODUCT FORM ENDS*/

/*PROFILE PAGE BEGINS*/

.yourItems {
  width: 100%;
  display: flex;
}

.mainProfileDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*PROFILEPAGE ENDS */

.badactionbutton {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 25px;
  border: 2px solid darkred;
  background-color: white;
  color: darkred;
  border-radius: 28px;
  font-size: 15px;
}

.goodactionbutton {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 25px;
  border: 2px solid darkslategray;
  background-color: white;
  color: darkslategray;
  border-radius: 28px;
  font-size: 15px;
  -webkit-box-shadow: 0px 7px 46px -26px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 46px -26px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 46px -26px rgba(0, 0, 0, 0.75);
}

.sellersinfodiv {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sellerimg {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.sellersotheritems {
  max-width: 120px;
}

.sellersotheritems img {
  max-height: 70px;
}

.productPageCardsContainer {
  display: flex;
  flex: auto;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}
